/*グローバル*/
body{
  font-family: sans-serif;
  background: #ebfdff;
  font-size: 18px;
}

.header{
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

table {
  border-collapse: collapse;
  font-size: 14px;
}

th,td {
  border: solid 1px;
}

.tableTitle{
  font-weight: bold;
  font-size: 20px;
}

summary{
  font-size: 18px;
  cursor: pointer;
}

summary:after{
  font-size: 14px;
  color: #666;
  content:'【クリックで展開】'
}

details[open] summary:after{
  font-size: 14px;
  color: #666;
  content:''
}

.title{
  font-family: '游明朝', 'serif';
  font-weight: bold;
  font-size: 30px;
}

a.title:link{
  color: #000;
}

a.title:visited{
  color: #000;
}

a.twitterLink:link{
  color: #1da1f2;
}

a.twitterLink:visited{
  color: #1da1f2;
}

.border{
  border: 2px solid #000;
  border-color: #3c708f;
  padding: 5px;
}

hr{
  border: none;
  border-bottom: 3px double;
  height: 3em;
}

h2{
  padding: 7px;
  border-bottom: 3px solid #000;
  background: #3c708f;
  color: #fff;
}

.h3{
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

h4{
  margin-top: 5px;
  margin-bottom: 5px;
}

i {
  margin: 5px;
}

input{
  margin: 0px 5px;
}

.listTitle{
  font-weight: bold;
  color: #555;
}

ul.mylist{
  list-style-type: none;
}

ul.mylist li:before{
  content: "◆"
}

/*ダイアログボックス*/
#dialogCont{
  display: none;
}

#dialogBG{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.2;
  z-index: 1010;
}

#dialog{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #fff;
  font-size: 1em;
  text-align: center;
  border: solid 2px #aaa;
  z-index: 1012;
  box-shadow: 3px 3px 5px 0px #7F7F7F;
  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
  0%{opacity: 0}
  100%{opacity: 1}
}

#dialogMsg{
  padding: 50px 5px;
}

#dialogButtons{

}

.dialogBtn{
  background-color: #ddd;
  border: solid 2px #77f;
  border-radius: 0.5em;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}

.dialogBtn:hover{
  background-color: #ccc;
}

/*トップページ*/

div.headerImg{
  display: block;
  width: 100%;
  height: 500px;
  background: url("./img/header.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

div.historymapImg{
  position: relative;
  width: 800px;
  height: 500px;
  background: url("./img/historymap.jpg");
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: inset 0px 80px 50px 0 rgba(0, 0, 0, 0.5);
}

div.calcImg{
  position: relative;
  width: 800px;
  height: 500px;
  background: url("./img/calc.jpg");
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: inset 0px 80px 50px 0 rgba(0, 0, 0, 0.5);
}

a.imgLink{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.imgTitle{
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  color: #05c;
  text-shadow:2px 2px 0 #FFF, -2px -2px 0 #FFF,
              -2px 2px 0 #FFF, 2px -2px 0 #FFF,
              0px 2px 0 #FFF,  0 -2px 0 #FFF,
              -2px 0 0 #FFF, 2px 0 0 #FFF;
  left: 10px;
}

img.headerImg{
  width: 90%;
}


/*境界時系列マップ*/

.mapCont{
  display: flex;
  flex-direction: row;
}
@media screen and (orientation: portrait) {
  .mapCont{
    display: flex;
    flex-direction: column;
  }
}

#containerA{
  width: 50%;
  border: solid;
  border-color: #3c708f;
}
@media screen and (orientation: portrait) {
  #containerA{
    width: 100%;
    border: solid;
    border-color: #3c708f;
  }
}

#containerB{
  width: 50%;
  border: solid;
  border-color: #3c708f;
}
@media screen and (orientation: portrait) {
  #containerB{
    width: 100%;
    border: solid;
    border-color: #3c708f;
  }
}

#mapA{
  height: 82vh;
}
@media screen and (orientation: portrait) {
  #mapA{
    height: 41vh;
  }
}

#mapB{
  height: 82vh;
}
@media screen and (orientation: portrait) {
  #mapB{
    height: 41vh;
  }
}

div.labelClass{
  font-size: 12px;
  text-align: center;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0 -1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}

div.labelClassMachi{
  font-size: 16px;
  text-align: center;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0 -1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}

div.labelClassShi{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0 -1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}

div.labelClassKu{
  font-size: 12px;
  text-align: center;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0 -1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}


/*人口計算機*/

#map{
  height: 82vh;
}


.colorPicker{
  cursor: pointer;
}

details.current{
  border: solid 1px;
  margin-top: 5px;
  padding: 5px;
}

div.current{
  font-size: 20px;
}

table.current{
  width: 100%;
}

table.current th{
  width: 30%;
  padding: 5px 0px;
}

table.current td{
  width: 20%;
  text-align: right;
}

table.sum{
  width: 100%;
}

table.sum th{
  width: 60%;
  padding: 5px 0px;
}

table.sum td{
  width: 40%;
  padding: 5px 15px;
  text-align: right;
}

table.selects{
  width: 100%;
}

table.selects th, table.selects td{
  padding: 5px 15px;
}

table.selects th:nth-child(1){
  width: 40%;
}

table.selects th:nth-child(2){
  width: 40%;
}

table.selects th:nth-child(3){
  width: 20%;
}

table.selects td:nth-child(2){
  text-align: right;
}

table.selects td:nth-child(3){
  text-align: right;
}

table.csv th{
  height: 50px;
  white-space: nowrap;
}

table.csv td{
  white-space: nowrap;
}

.columnSelect{
  width: 95%;
}

.addGroup{
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}

div.group{
  border: 2px solid #555;
  margin-top: 10px;
  padding: 5px;
}

.attribution{
  float: right;
}

/*ツールチップ(https://www.jungleocean.com/programming/190308tooltip-css)*/
.tooltip{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.tooltip p{
    margin:0;
    padding:0;
}
.description {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
}
/*.description:before {
    content: "";
    position: absolute;
    top: 100%;
    right: 50%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
}*/
.tooltip:hover .description{
    display: inline-block;
    top: 0px;
    left: 20px;
    z-index: 100;
}

/*　拡大表示画像　*/
.zoomContainer{
  width: 100%;
  height: 80vh;
  margin: 10px 0px;
}

.radiobutton span{
  margin: 0 10px;
}
