div.labelClass{
  font-size: 12px;
  text-align: center;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}

div.labelClassMachi{
  font-size: 16px;
  text-align: center;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}

div.labelClassShi{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}

div.labelClassKu{
  font-size: 12px;
  text-align: center;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}

table {
  border-collapse: collapse;
}

th,td {
  border: solid 1px;
}

.tableTitle{
  font-weight: bold;
  font-size: 18px;
}

.title{
  font-family: '游明朝';
  font-weight: bold;
  font-size: 24px;
}
